<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet", href="/stylesheets/styles.css">
  </head>
  <body>
    <header class="nav-bar">
      <a href="/index-user" class="nav-bar__logo">W-Store</a>
      <a class="cart-button" href="/cart">Cart</a>
      <a class="login" href="/logout">Log out</a>
    </header>
  </body>