

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet", href="/stylesheets/styles.css">
    <link rel="stylesheet" href="node_modules/boxicons/css/boxicons.min.css" />
  </head>
  <body>
    <header class="nav-bar">
      <a href="#" class="nav-bar__logo">W-Store</a>
      <a class="login" href="/login">Log in</a>
    </header>
    <seciton class="main-content">
      <div class="shop-title">W-Store</div>
      <img class='banner' src="/images/banner.png">
      <div class="items-container">
        <div class="product">
          <img src="/images/product1.png" alt="Product 1">
          <h3>Huawei Freebuds 5i White ANC</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna vel bibendum ullamcorper, 
          purus ipsum tristique magna, in tempus ligula erat quis ipsum.</p>
          <p class="price">199.99pln</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product">
          <img src="/images/product2.png" alt="Product 2">
          <h3>Silver Monkey Charger 130W</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna vel bibendum ullamcorper, 
          purus ipsum tristique magna, in tempus ligula erat quis ipsum.</p>
          <p class="price">79.99pln</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product">
          <img src="/images/product3.png" alt="Product 3">
          <h3>AMD Ryzen 5 5600X</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna vel bibendum ullamcorper, 
          purus ipsum tristique magna, in tempus ligula erat quis ipsum.</p>
          <p class="price">749.99pln</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>
        
      </div>
    </seciton>
  </body>  
</html>