

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet", href="/stylesheets/styles.css">
    <link rel="stylesheet" href="node_modules/boxicons/css/boxicons.min.css" />
  </head>
  <body>
    <header class="nav-bar">
      <a href="#" class="nav-bar__logo">W-Store</a>
      <a class="login" href="/login">Log in</a>
    </header>
    <section class="main-content">
      <div class="shop-title">W-Store</div>
      <img class='banner' src="/images/banner.png">
      <div class="items-container">
        <div class="product">
          <img src="/images/product1.png" class="imagesrc" alt="Product 1">
          <h3>Huawei Freebuds 5i White ANC</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna vel bibendum ullamcorper, 
          purus ipsum tristique magna, in tempus ligula erat quis ipsum.</p>
          <p class="price">199.99pln</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product">
          <img src="/images/product2.png" class="imagesrc" alt="Product 2">
          <h3>Silver Monkey Charger 130W</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna vel bibendum ullamcorper, 
          purus ipsum tristique magna, in tempus ligula erat quis ipsum.</p>
          <p class="price">79.99pln</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product">
          <img src="/images/product3.png" class="imagesrc" alt="Product 3">
          <h3>AMD Ryzen 5 5600X</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna vel bibendum ullamcorper, 
          purus ipsum tristique magna, in tempus ligula erat quis ipsum.</p>
          <p class="price">749.99pln</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product">
          <img src="/images/product4.png" class="imagesrc" alt="Product 4">
          <h3>Samsung S23</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna vel bibendum ullamcorper, 
          purus ipsum tristique magna, in tempus ligula erat quis ipsum.</p>
          <p class="price">4999.99PLN</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>
        
        <div class="product">
          <img src="/images/product5.png" class="imagesrc" alt="Product 5">
          <h3>IdeaPad Gaming 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna vel bibendum ullamcorper, 
          purus ipsum tristique magna, in tempus ligula erat quis ipsum.</p>
          <p class="price">3399.99PLN</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>

        <div class="product">
          <img src="/images/product6.png" class="imagesrc nvme" alt="Product 6">
          <h3>SAMSUNG 980 1TB</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna vel bibendum ullamcorper, 
          purus ipsum tristique magna, in tempus ligula erat quis ipsum.</p>
          <p class="price">389.99PLN</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>

        <div class="product">
          <img src="/images/product7.png" class="imagesrc" alt="Product 7">
          <h3>APPLE AirPods Pro II</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna vel bibendum ullamcorper, 
          purus ipsum tristique magna, in tempus ligula erat quis ipsum.</p>
          <p class="price">1389.99PLN</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>

        <div class="product">
          <img src="/images/product8.png" class="imagesrc" alt="Product 8">
          <h3>JBL Słuchawki</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna vel bibendum ullamcorper, 
          purus ipsum tristique magna, in tempus ligula erat quis ipsum.</p>
          <p class="price">650.99PLN</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>

        <div class="product">
          <img src="/images/product9.png" class="imagesrc" alt="Product 9">
          <h3>CANON EOS 2000D</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna vel bibendum ullamcorper, 
          purus ipsum tristique magna, in tempus ligula erat quis ipsum.</p>
          <p class="price">2499.99PLN</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>

        <div class="product">
          <img src="/images/product10.png" class="imagesrc" alt="Product 10">
          <h3>HUAWEI Watch GT 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna vel bibendum ullamcorper, 
          purus ipsum tristique magna, in tempus ligula erat quis ipsum.</p>
          <p class="price">650.99PLN</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>
        
      </div>
    </section>
  </body>
</html>